.Container {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: bisque;
  align-items: center;
  justify-content: center;
}

.Body {
  display: flex;
  width: auto;
  height: auto;
  background-color: rgb(137, 253, 182);
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.dogeSad {
  padding-top: 50px;
  padding-bottom: 50px;
  width: auto;
  height: 200px;
  object-fit: contain;
}
